.bordes {
	border: 1px solid black !important;
}
.navbar-form .text-muted
{
	display: none !important;
}
@media print {
	main {
		font-size: 10px !important;
	}
	.header
	{
		margin-top: 100px !important;
	}

}



