

.s_o_number {
    font-size: 14px;
}

.s_o_number {
    text-align: center;
    font-family: "Work Sans", sans-serif !important;
    font-size: 12px;
}
.mb8 {
    margin-bottom: 8px !important;
}

.s_o_number .title {
    padding-top: 0.2em;
    font-size: 3em;
    line-height: 1.1;
    color: #875A7B;
}
.s_o_number .title, .s_o_number .desc {
    display: block;
}


.s_o_number .title.has_sidetext .number, .s_o_number .title.has_sidetext .sidetext {

    display: inline-block;

}
.fw_extralight {

    font-weight: 200;

}


.s_o_number .title.has_sidetext .sidetext {
    font-size: .3em;
    line-height: 1;
    vertical-align: top;
    padding-top: 0.7em;
    text-align: left;
    margin-left: -0.8em;
}

.s_o_number .title.has_sidetext .sidetext {
    display: inline-block;
}

.fw_light {
    font-weight: 300;
}

.s_o_number .desc {
    font-size: 1em;
}
.s_o_number .title, .s_o_number .desc {
    display: block;
}

.content-odoo-why{
    width: 100% !important;
    text-align: justify !important;

}

.content-caption2 .col2 {
    border-right: 0px solid #fee9b9;
    margin: 0;
    padding: 15px 0;
    width: 33.3%;
}

@media only screen and (max-width : 768px){
    .content-caption2 .col2 {    width: 33.3%;  float: left; box-shadow: 0 0px 0 0 rgba(255, 255, 255, 0.52);}
}

@media only screen and (max-width : 480px){
    .content-caption2 .col2 {  width: 48%; font-size: 2em;}

    .s_o_number .title {

        font-size: .9em;

    }

    .s_o_number .desc {
        font-size: 0.4em;
    }



}